.container {
  &__prototype {
    padding: 50px 5% 50px 5%;
    background-image: url("../../../public/assets/bg2.png");
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    &_title {
      @media only screen and (min-width: 768px) {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        text-align: left;
      }
    }
    .mainPartner {
      position: relative;
      background: rgba(14, 14, 14, 0.5);
      border: 0.5px solid #313131;
      backdrop-filter: blur(1px);
      border-radius: 10px;
      margin: 40px auto;
      height: 50px;
      padding: 20px;
      width: 80%;
      display: flex;
      align-items: center;
      justify-content: center;
      overflow: hidden;
      @media only screen and (min-width: 768px) {
        width: 60%;
      }
      img {
        display: block;
        object-fit: none;
        object-position: center;
      }
    }
    &_content {
      display: grid;
      grid-template-columns: 1fr;
      grid-gap: 10px;
      justify-items: center;

      @media only screen and (min-width: 768px) {
        grid-template-columns: 1fr 1fr 1fr;
      }
      .box_img {
        position: relative;
        background: rgba(14, 14, 14, 0.5);
        border: 0.5px solid #313131;
        backdrop-filter: blur(1px);
        border-radius: 10px;
        padding: 20px;
        height: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 80%;
        overflow: hidden;

        img {
          display: block;
          object-fit: none;
          object-position: center;
        }
      }
    }
  }
}
